version: '3'
services:
  db:
    restart: always
    image: postgres
    container_name: postgres_db
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ${POSTGRES_DB_DATA}:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - ${REDIS_PORT}:6379
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: [ "redis-server", "--requirepass", "mysecretpassword" ]
    volumes:
      - ${REDIS_DB_DATA}:/data

volumes:
  postgres_db:
  redis_data:

